<div fxLayout="column" fxLayoutGap="1rem">
  <div>
    <button mat-raised-button color="accent" (click)="toggleStockForm()">
      Add Stocks
    </button>
  </div>
  <div class="add-stock-form-container" fxLayout="row">
    <div
      *ngIf="showStackForm"
      fxFlex.xs="100"
      fxFlex.gt-xs="50"
      class="add-stock-form"
      fxLayout="column"
    >
      <app-add-stock-form
        (hide)="hideForm($event)"
        (add)="addStocks($event)"
      ></app-add-stock-form>
    </div>
  </div>
  <div fxLayout="column">
    <div class="stock-head" fxLayout.gt-sm="row" fxLayout.lt-md="column">
      <div fxLayout="row" fxFlex.gt-sm="50" fxLayoutAlign="start center">
        <div fxFlex="25">Id</div>
        <div fxFlex="25">Stock</div>
        <div fxFlex="25">Start</div>
        <div fxFlex="25">Data Point</div>
      </div>
      <div fxLayout="row" fxFlex.gt-sm="50" fxLayoutAlign="start center">
      </div>
    </div>
    <div class="stock-content" fxLayout="column" fxLayoutGap="0.75rem">
      <div
        class="stock-content-row"
        fxLayout.gt-sm="row"
        fxLayout.lt-md="column"
        *ngFor="let stock of stocksData; let i = index"
      >
        <div fxLayout="row" fxFlex.gt-sm="50" fxLayoutAlign="start start">
          <div fxFlex="25">
            <mat-checkbox (change)="markForPull($event, i)"
              >&nbsp;</mat-checkbox
            >
          </div>
          <div fxFlex="25">{{ stock.name }}</div>
          <div fxFlex="25">{{ stock.formattedStartTime }}</div>
          <div fxFlex="25">{{ stock?.values[0] }}</div>
        </div>
        <div fxLayout="row" fxFlex.gt-sm="50" fxLayoutAlign="start start">
          <app-line-graph
            *ngIf="stock.track"
            [name]="stock.name"
            [xSeriesLabel]="stock.formattedPullTime"
            [ySeriesValue]="stock?.value"
          ></app-line-graph>
        </div>
      </div>
    </div>
  </div>
</div>
